.comments_wrapper.clearfix
  .pull-left
    %p.lead good stuff
    %small.text-muted
      Submitted
      %strong 2 hours ago by jackie
  .btn-group.pull-right
    = link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"

.comments_wrapper.clearfix
  .pull-left
    %p.lead good stuff
    %small.text-muted
      Submitted
      %strong 2 hours ago by jackie
  .btn-group.pull-right
    = link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"
.comments_wrapper.clearfix
  .pull-left
    %p.lead good stuff
    %small.text-muted
      Submitted
      %strong 2 hours ago by jackie
  .btn-group.pull-right
    = link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"

.comments_wrapper.clearfix
  .pull-left
    %p.lead good stuff
    %small.text-muted
      Submitted
      %strong 2 hours ago by jackie
  .btn-group.pull-right
    = link_to 'Destroy', "#", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"