//font-awesome
@import "font-awesome"

//Import bootstrap-sprockets
@import "bootstrap-sprockets"

// Import theme variables
@import "bootswatch/readable/variables"

// bootstrap itself
@import "bootstrap"

// And finally bootswatch style itself
@import "bootswatch/readable/bootswatch"

#logo 
	font-size: 26px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: -1px
	padding: 15px 0
	a 
		color: #2F363E
	
#main_content 
	#content 
		float: none
	
	padding-bottom: 100px
	.link 
		padding: 2em 1em
		border-bottom: 1px solid #e9e9e9
		.title 

			a 
				color: #FF4500
			
		
	
	.comments_title 
		margin-top: 2em
	
	#comments 
		.comment 
			padding: 1em 0
			border-top: 1px solid #E9E9E9
			.lead 
				margin-bottom: 0

.comments_title
	padding-bottom: 0.5em
	border-bottom: 1px solid #e7e7e7

.comments_wrapper
	padding: 1em

	&:nth-child(odd)
		background-color: rgba(231, 231, 231, 0.3)