= render '/shared/content_title', title: "New Category"
.well
  = bootstrap_form_for  @category, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
    = f.text_field :name
    = f.submit "Create", class: "btn btn-success"
